# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

node_modules/
build/
npm-debug.log
.DS_Store
yarn.lock
